*{
    text-align: center;
    background-color: firebrick;
    font-family: cursive;
    color: yellow;
}

.logo{
    padding-bottom: 0px;
}

h1{
    padding: 50px;
}
.mainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbox{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 50px;
    font-size: x-large;
}

.sliderbox{
    width: 200px;
}

.currentcolor{
    text-align: left;
}

.gamebox{
    display: grid;
    height: 700px;
    width: 700px;
}

button{
    font-size: larger;
    height: 50px;
}