*{
    text-align: center;
    background-color: palegreen;
    font-family: sans-serif;
}

.mainbox{
    display: flex;
    justify-content: center;
}

.gamebox{
    display: grid;
    height: 700px;
    width: 700px;
}